<div class="image-gallery">
  <%= image_tag "html5-logov2.png" %>
  <%= image_tag "css3.png" %>
  <%= image_tag "javascript-logov2.png" %>
  <%= image_tag "jquery_logov2.png" %>
  <%= image_tag "ror-logov2.png" %>
  <%= image_tag "sass-logov2.png" %>
  <%= image_tag "bootstrap.png" %>
  <%= image_tag "bourbon-neat.png" %>
</div>
