<!DOCTYPE html>
<html>
  <head>
    <title>Brian Bend: Web Developer</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald|Lato:400,400italic,700' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/af76c7d146.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <a name="top"></a>

    <%= render "layouts/navigation" %>
    <%= render "layouts/masthead" %>


    <%= yield %>

  </body>
</html>
